.product--details .product--image-container-cf {
	width: 50%;
	padding: 0 20px 0 0;
	float: left;
}

.product--details .product--image-container-right-cf {
	width: 50%;
	padding: 0 20px 0 0;
	float: left;
}

.product--details .review--form-container {
	width: 80%;
}

.product--details .product--data-container-cf {
	width: 100%;
	float: none;
    padding: 0px 10px 0px 10px;
}

.product--details .product--data-comments-cf {
	width: 100%;
	float: none;
	padding: 0 0 10px 0;
}

.product--details .product--data-spacer-cf {
	padding: 0, 0, 60px, 0;
}

.product--details .content--proposals {
	padding: 10px 10px;
}

.product--details .buybox--quantity {
	width: 40%;
}

.product--details .table-group-cf {
	width: 100%;
}

.product--details .group-option-cf {
	border: 1px solid #ddd;
	margin: 0 0 20px 0;
}

.group-option-common-cf {
	padding: 0 10px 0 10px;
}

.product--details .group-option-qty-cf {
	padding: 0 10px 10px 10px;
}

.product--details .table-inner-cf {
	width: 100%;
	border: 1px solid #ddd;
	padding: 10px 10px 10px 10px;
}

.product--details .table-td-inner-cf {
	padding: 0 15px 0 15px;
}

.product--details .link-show-tooltip {
	padding: 10px 0 0 0;
}

.product--details .product--options-spacer-cf {
	padding: 5px 0 0 0;
	height: 5px;
	font-size: 5px;
	width: 100%;
}

@media screen and(min-width: @tabletViewportWidth) {
	.product--details .content--proposals {
		padding: 30px 30px;
	}

	.product--details .product--image-container-cf {
		width: 100%;
		float: none;
	}

	.product--details .product--image-container-right-cf {
		width: 100%;
		margin-right: 0;
		float: none;
	}
}

/* Tablet landscape - min-width: 1024px */
@media screen and (min-width: @tabletLandscapeViewportWidth) {
	.product--details .product--image-container-cf {
		width: 40%;
		float: left;
	}

	.product--details .product--image-container-right-cf {
		width: 56%;
		margin-right: 4%;
		float: left;
	}
}
